# Exclude distribution files
*dist/

# Exclude build files
*build/

# Exclude temp Render Files
*render_output/

# Exclude Python cache files
*distributed-render-utility.spec
*src/modules/__pycache__/